@import url('https://fonts.googleapis.com/css2?family=Jomolhari&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #374D6A;
    color: white;
    font-family: 'Rubik';
}

img, video{
    max-width: 100%;
}


.home{
    width: 100%;
    height: 100%;
}

.home__hero{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home__hero__content{
    width: 100%;
    padding: 3em;
    padding-left: 5em;
}

.home__hero__content--title{
    font-size: 4rem;
    padding: .5em 0;
}

.home__hero__content--text{
    font-size: 1.25rem;
    padding-bottom: 1em;
}

.home__hero__content--link{
    display: inline-block;
    padding: 1em  2em;
    background-color: rgb(233, 192, 233);
    border: none;
    border-radius: 25px;
    font-size: 1.125rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.home__hero__figure{
    width: 100%;
    height: 100%;
    position: relative;

    perspective: 1500px;
}


.home__hero__figure--wrapper{
    width: 50%;
    height: 50%;
    position: absolute;
    transform-style: preserve-3d;
    top: 50%;
    left: 50%;
    transform: rotateX(0deg) rotateY(0deg);
    translate: -50% -50%;
}

.home__hero__figure--image{
    position: absolute;
    top: 0;
    left: 0;
}

.home__hero__figure--asteroid1{
    left: 100%;
    translate: -50% 0;
    transform: translateZ(-50px);
}
.home__hero__figure--asteroid2{
    translate: -50% 0;
    transform: translateZ(50px);
}

.home__hero__figure--logo{
    top: 60%;
    translate: -25% 0;
    transform: translateZ(100px);
}

.linktree{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Linktree__link{
    width: 20%;
    text-align: center;
    text-decoration: none;
    padding: 1em 2em;
    font-size: 1.25rem;
    color: black;
    background-color: rgb(233, 192, 233);
    border-radius: 25px;
}